*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    /* outline: 1px solid green; */
}

:root{
    --clr-bg-base:#f9f9f9;
    --clr-bg-1:#f5f5f5;
    --clr-bg-2:#f1f1f1;
    --clr-bg-3:#eeeeee;
    --clr-acc:rgb(255, 0, 111);
    --clr-txt:#333333;
    --clr-txt-secondary:#555555;
}

:root.dark-mode{
    --clr-bg-base: #1B2029;
    --clr-bg-1: #1F2630;
    --clr-bg-2: #242E3A;
    --clr-bg-3: #293544;
    --clr-txt: #bbb;
    --clr-txt-secondary: #aaa;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    background-color: var(--clr-bg-base);
    color: var(--clr-txt);
    transition: all ease-in-out 0.1s;
    overflow: hidden;
}

.player{
    width: 100%;
    max-width: 350px;
    min-height: 100vh;
    color: var(--clr-txt);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    padding: 1em;
    margin: 0 auto;

}

.player__img-container{
    width: 100%;
    max-width: 250px;
}

.player__img{
    width: 100%;
    display: block;
    border-radius: 10px;
    position: relative;
}

.player__img--sm{
    width: 20%;
}



.player__img-title{
    text-align: center;
    padding: 1em;
}
.player__title{
    font-size: 1.5rem;
    padding-bottom: 0.3em;
}

.player__container{
    width: 100%;
}
.player__progress-bar{
    width: 100%;
    /* height: 10px; */
    background-color: var(--clr-bg-3);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    padding: 4px;
    overflow: hidden;
}

.player__progress{
    width: 0%;
    height: 100%;
    background-color: var(--clr-acc);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 500px;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
}

.player__time{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.player__time > span{
    color: var(--clr-txt-secondary);
}

.player__controls{
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.player__btn{
    all: unset;
    width: 30px;
    height: 30px;
    color: var(--clr-txt-secondary);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.8;
    text-align: center;
}

.player__btn:hover{
    background-color: var(--clr-bg-3);
}

.player__btn--play {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    color: var(--clr-acc);
}

.player__btn--theme{
    height: auto;
    background-color: var(--clr-bg-1);
    /* border: 2px solid #222; */
    border-radius: 10px;
    padding: 7px;
    opacity: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

    position: fixed;
    right: 10px;
    bottom: 20px;

    transition: all 0.3s;
}

.player__box{
    width: 100%;
    height: 0px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    transition: none;
}

.player__box--blue{
    background-color: #00CCFF;
}
.player__box--green{
    background-color: #00FFCC;
}
.player__box--yellow{
    background-color: #FFFF00;
}
.player__box--pink{
    background-color: #FF00CC;
}
.player__box--purple{
    background-color: #CC00FF;
}

.player__btn--theme.open .player__box{
    position: relative;
    height: 30px;
    transition: all 0.2s ease-out;
}

.player__box:hover{
    scale: 1.3;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.player__list{
    width: 100%;
    max-width: 350px;
    background-color: var(--clr-bg-1);
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;

    position: absolute;
    left: 10px;
    top: 75px;

    opacity: 0;
    translate: 0 50%;
    z-index: -99;
    transition: none;
    transform-origin: top;
}

.player__list.toggle{
    opacity: 1;
    translate: 0 0;
    transition: all ease 0.5s;
    z-index: 99;
}

.player__list-item{
    background-color: var(--clr-bg-2);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.player__list-item:hover{
    background-color: var(--clr-bg-3);
}

.player__list-title{
    font-size: 1.2rem;
}
.player__list-duration{
    color: var(--clr-txt-secondary);
    display: inline-block;
    margin-left: auto;
}

.player__btn--list-toggle{
    background-color: var(--clr-bg-1);
    text-align: center;
    border-radius: 5px;
    font-size: 1.4rem;
    position: fixed;
    top: 10px;
    left: 10px;
}

.player__btn--dark-toggle{
    position: fixed;
    top: 10px;
    right: 10px;
}